<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Transaction History</title>
<link rel="stylesheet" href="/TransactionHistory.css">
</head>
<body>


	<div class="card">

		<h1 class="card-title">Transaction History</h1>
		<table border="1">
			<thead>
				<tr>
					<th>Transaction ID</th>
					<th>Amount</th>
					<th>Type</th>
					<th>Date</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="transaction: ${transactions}">
					<td th:text="${transaction.id}"></td>
					<td th:text="${transaction.amount}"></td>
					<td th:text="${transaction.type}"></td>
					<td th:text="${transaction.timeStamp}"></td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>
